@keyframes rgbchangep {
    0% { background-color: #d43939; } 
    25% { background-color: #7287ef; } 
    50% { background-color: #71dd53; } 
    75% { background-color: #307bec; } 
    100% { background-color: #d43939; } 
  }
  body{
    height: 100vh;
    margin: none;
    padding: none;
    animation: rgbchangep 7.5s linear infinite; 
}
*{
direction: rtl;

}

.sefaresh{

max-width: 350px !important;
max-height: 200px;


}
.sefaresh ul li{

    padding: 7px !important;
}
.logo-seff{
  margin-top: 70px !important;
max-width: 375px !important;

z-index: 12;
margin-bottom: 20px;
}